<h2>User Page</h2>
<br>
<br>
<br>
<p>User Name:     </p><p2><%= current_user.name %></p2><br>
<p>Email:     </p><p2><%= current_user.email %><p2><br>
<br>
<br>
<br>
<%= link_to 'Update My profile', edit_user_path(current_user) %></li>