<!--<ul class="list-unstyled">-->
  <% @randomtags.each do |randomtag| %>
    <!--<li class="media mb-3", "r">-->
        <div class = "r">
          <span>#<%= randomtag.content %></span>
        </div>
    <!--</li>-->
  <% end %>
<!--</ul>-->